*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	/*background: url(/img/bg.png);*/
	background: #f1f1f1;
	line-height: 20px;
	font-size: 16px;
	padding-left: 40px;
	background: #f1f1f1; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  hsla(0,0%,95%,1) 53%, hsla(205,12%,77%,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(53%,hsla(0,0%,95%,1)), color-stop(100%,hsla(205,12%,77%,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  hsla(0,0%,95%,1) 53%,hsla(205,12%,77%,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  hsla(0,0%,95%,1) 53%,hsla(205,12%,77%,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  hsla(0,0%,95%,1) 53%,hsla(205,12%,77%,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  hsla(0,0%,95%,1) 53%,hsla(205,12%,77%,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6edf2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size: 100% 100%;
}

a{
	color: #f34245;
}
a:hover{
	color: black;
}

i{
	font-style: normal;
}

hr{
	display: none;
	border: none;
	height: 3px;
	outline: none;
	background: transparent;
	/*border-bottom: 1px solid rgba(255,255,255,.7);
	border-top: 1px solid rgba(0,0,0,.05);*/
	margin: 0;
}

.light{
	color: #cfcfcf;
}

.link-extender{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

/* ---------------- lyt */
.centered{
	width: 990px;
	margin: 0 auto;
	padding-left: 30px;
	position: relative;
}
.item-box{
	padding: 0 30px 0 0;
	float: left;
}

@media (max-width: 768px){
	.centered{
		width: 90%;
	}
	.item-box{
		float: none;
		padding: 0;
		margin: 0 auto;
	}
}

@media (min-width: 769px) and (max-width: 1024px){
	.centered{
		width: 670px;
	}
}
#page-content{
	padding-top: 20px;
}
.item{
	padding: 0px 0 0px;
	position: relative;
	height: 320px;
	width: 290px;
}

/* -------------- Logo & title*/
	.site-name {
		display: block;
		position: relative;
		line-height: 1;
		padding-top: 40px;
		padding-bottom: 40px;
		text-decoration: none;
		font-size: 4rem;
		letter-spacing: -1px;
		font-weight: bolder;
		text-shadow: 0 2px white;
		text-align: left;
		color: black;
	}
	.site-name:hover {
	}
	.site-tagline {
		display: block;
		font-size: 1.5rem;
		line-height: 1;
		letter-spacing: 0;
		margin-left: 2px;
		margin-top: 6px;
		font-weight: bold;
	}
	.site-name > a{
		color: black;
	}


/* -------------------- Nav */
	.aside-nav{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto 0;
		background: black;
	}
	.aside-nav-link{
		position: relative;
		display: block;
		line-height: 40px;
		text-decoration: none;
		color: white;
		font-size: 16px;
		font-weight: normal;
		width: 40px;
		text-align: center;
	}
	.aside-nav-link:hover{
		color: white;
		background: #333;
	}
	.aside-nav-link.active{
		background: #666;
	}


/* ---------------------- Item elements */
	.item-preview{
		display: block;
		margin: 0 0 0;
		height: 220px;
		border-radius: 12px;
		position: relative;
		text-align: center;
		overflow: hidden;
		box-shadow: inset 0 0px 0px 2px rgba(0, 10, 20, .1);
	}
	.item-preview-logo{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		max-width: 90%;
		max-height: 90%;
		transition: .1s linear opacity;
	}
	.item-preview-slides{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		transition: .1s linear opacity;
		overflow: hidden;
		border-radius: 12px;
	}
	.item-preview:hover .item-preview-slides{
		opacity: 1;
	}
	.item-preview:hover .item-preview-logo{
		opacity: 0;
	}
	.item-preview-slide{
		max-height: 100%;
	}

	.item-caption{
		margin: 12px 2px 0;
		padding: 0 0px 0 0px;
	}

	.item-header{
		padding: 0;
		margin: 0px 0 0;
		text-shadow: 0 1px white;
	}
	.item-header-link{
		color: black;
		text-decoration: none;
	}
	.item-tagline{
		font-size: 13px;
		margin-top: 4px;
		margin-left: 1px;
		line-height: 16px;
	}

	.item-categories{
		display: block;
		position: absolute;
		top: 6px;
		right: 6px;
		padding: 0 0px;
	}
	.item-category{
		color: #232323;
		text-decoration: none;
		font-weight: bolder;
	}
	.item-price{
		color: rgb(176, 204, 176);
		display: inline-block;
		font-size: 16px;
		text-decoration: none;
		float: right;
	}
	.item-price.free{
		color: rgb(245, 73, 73);
	}

/* ------------------------ Item-content = static item page */
	.item-content{
		background: white;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		padding: 20px 20px;
		display: none;
	}
	.item-content.active{
		display: block;
	}

/* --------------------------- Icons */
	i:after{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 20px;
	}
	.icon-grid:after{
		content: "♡";
		font-size: 18px;
	}
	.icon-layout:after{
		content: "⊟";
		font-size: 18px;
	}
	.icon-elements:after{
		content: "∶∶";
		font-size: 16px;
	}
	.icon-icons:after{
		content: "☄";
		font-size: 18px;
	}
	.icon-processing:after{
		content: "\{ \}";
		white-space: nowrap;
		font-size: 13px;
		font-weight: bolder;
		top: -2px;
	}
	.icon-effects:after{
		content: "fx";
		font-family: serif;
		font-style: italic;
	}

/* ------------------------------- Single page */
.single{
	background: white;
	padding: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 2px 2px 43px rgba(0,140,120,.1);
}
.single:after{
	content: "";
	display: block;
	clear: both;
}

.single-preview{
	position: relative;
	min-height: 300px;
	margin: -40px -40px 0;
}

.single-preview-logo{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 400px;
	max-height: 200px;
}

.single-images{
	max-width: 240px;
	float: left;
	margin-right: 20px;
}

.single-content{
}